html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 20em;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  border: 3px solid black;
  border-radius: 2em;
  padding: 2em;
  gap: 1em;
}

.input-area {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.buttons-area {
  display: flex;
  flex-direction: column;
  gap: 0.4em
}

.input-and-scrollbar {
  display: flex;
  flex-direction: column;
  flex: 4.7 4.7 0;
  width: 0;
  gap: 0.25em;
}

input {
  font-size: 2em;
  flex: 12 12 0;
}

#scrollbar {
  background-color: gray;
  flex: 1 1 0;
}

#clear {
  flex: 1 1 0;
}

.number-panel-bottom {
  display: flex;
}

.number-panel-top {
  display: flex;
  justify-content: space-between;
  width: 20em;
}

.number-buttons-area {
  display: flex;
  flex-wrap: wrap;
  flex: 3 3 auto;
  gap: 0.4em;
}

.basic-buttons-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.number-panel-top > button {
  height: 2em;
}

button {
  width: 5em;
  height: 5em;
  border: 1px solid grey;
  border-radius: 0.33em;
}

button#eval {
  font-weight: 700;
  background-color: chocolate;
}